/* Re-usable constants are defined here, such as colors and fonts. */

//--------------------------------
// main colors
//--------------------------------

$brand:             #000000 // black
$supporting:        #928765 // gold
$link:              #ff6600 // black
$link-hover:        #ff6600 // black
$grey-1:            #606060 // dark grey
$grey-2:            #CFCFCF // mid grey
$grey-3:            #EBEBEB // light grey
$grey-text:         #333333 // black
$error:             #FF0000 // red
$page-bg:           #ebe9e3 // off-white


//--------------------------------
// fonts
//--------------------------------

$font-family: "proxima-nova-1","proxima-nova-2", Helmet, Freesans, sans-serif
$font-color: #000
$font-size: 16px
$line-height: 1.4em


//--------------------------------
// grid related
//--------------------------------

$gutter: 20px


//--------------------------------
// misc
//--------------------------------

$corner-radius: 8px
