- @page_background = 'background-image: url(/images/backgrounds/portrait-xs.jpg)'

- content_for :head do
  %title Susanne Theisen – Freie Journalistin

- content_for :javascripts do

  :javascript
    $(function() {
      //JSON object for storing backgrounds and their dimensions easily accessible
      var bgs = {"page_bg": [
                  {"x": 1920, "y": 1440, "file": "portrait-xl.jpg"},
                  {"x": 1440, "y": 1080, "file": "portrait-l.jpg"},
                  {"x": 1280, "y": 960, "file": "portrait-m.jpg"},
                  {"x": 1024, "y": 768, "file": "portrait-s.jpg"},
                  {"x": 600, "y": 450, "file": "portrait-xs.jpg"}
                ]
      };

      //recalculate backgrounds on window resize events
      $(window).resize(function() {
        switch_background($('#page'), bgs.page_bg);
      });

      //fire resize event for initial choosing of appropriate background
      $(window).resize();
    });

    //switch background image for specified element with specified backgrounds data
    function switch_background(element, data) {
      var best_match = 0;
      for(var i = 0; i < data.length; i++) {
        if ($(element).width()  <= data[i].x &&
            $(element).height() <= data[i].y) {
          best_match = i;
        } else {
          break;
        }
      }
      $(element).css('background-image', 'url(/images/backgrounds/'+data[best_match].file+')');
    }

%img.portrait(src="/images/backgrounds/portrait-xs.jpg" alt="Susanne Theisen")

%h1 Susanne Theisen

.mission-statement

  %p.intro Ich bin freie Journalistin in Berlin. Gründliche Recherche ist meine Stärke, das Erzählen von Geschichten meine Leidenschaft – in Wort und Bild.

  %p Über meine Schwerpunkte Gesellschaft, Soziales, Kultur und Internet veröffentliche ich Reportagen, Features, Interviews, Porträts, Berichte und Nachrichten. Zu meinen Kunden gehören der Deutschlandfunk, das Stadtmagazin PRINZ, die VIVA Fernsehen GmbH, der Kölner Stadt-Anzeiger, die Zahnärztlichen Mitteilungen und der Internetsender Bunch TV.

  %p
    Sie suchen professionelle Unterstützung für die Öffentlichkeitsarbeit oder die Umsetzung Ihres Corporate Publishing-Projekts?
    %br
    Ich liefere Pressemitteilungen, Broschüren und Texte für Ihr Mitarbeiter- oder Kundenmagazin.

  %h3 Kontakt

  %ul#hcard-Susanne-Theisen.vcard
    %li.fn.off Susanne Theisen
    %li
      %ul.adr
        %li.street-address Flughafenstraße 11
        %li
          %span.postal-code 12053
          %span.locality Berlin
        %li.country-name Germany
    %li.communication
      %ul
        %li.tel
          %span.value (+49) 177 / 652 73 74
        %li
          %a.email{:href => "mailto:info@susanne-theisen.de", :title => "Senden Sie mir eine E-Mail"} info@susanne-theisen.de
    -#%li.download
      %a{:href => "http://feeds.technorati.com/contacts/http://susanne-theisen.de/"} vCard downloaden


  %h3 Meine Blogs
  %ul
    %li
      %a(href="http://sutheisen.posterous.com/" target="_blank")→ suBlog (mit Arbeitsproben)
    %li
      %a(href="http://500px.com/sutheisen/flow" target="_blank")→ Fotoblog

  %ul.meta
    %li
      %a(href="http://twitter.com/sutheisen" target="_blank")Twitter
    %li
      %a(href="http://www.xing.com/profile/Susanne_Theisen4" target="_blank")XING

